@font-face {
    font-family: 'roboto-bold';
    src: url('../assets/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-regular';
    src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --roboto-regular: 'roboto-regular';
    --roboto-bold: 'roboto-bold';

    --tomato: hsl(4, 100%, 67%);
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--dark-slate-grey);
}

div#centro {
    margin: 100px auto;
    display: flex;
    padding: 50px;
    flex-direction: column;
    width: 50%;
    min-width: 150px;
    max-width: 400px;
    border-radius: 15px;
    background-color: var(--white);
    border: none;

}

h1 {
    font-size: clamp(28px, 4vw, 40px);
    font-family: var(--roboto-bold);
    margin: 20px auto 20px 0px;
}

p {
    font-family: var(--roboto-regular);
    font-size: clamp(14px, 4vw, 18px);
    line-height: 1.5em;
}

#email {
    font-weight: bold;
}

img {
    width: 70px;
}

button {
    margin-top: 30px;
    padding: 20px;
    font-size: 16px;
    color: var(--white);
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(to right, #FF5379, #FF693F);
    box-shadow: 0 5px 2px rgba(36, 35, 35, 0.655);
    transition: all 0.1s ease-in;
    cursor: pointer;
}

button:active {
    transform: translateY(5px);
    box-shadow: 0 0px 5px rgba(36, 35, 35, 0.655);
}

footer {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 110px;
} 

.attribution { 
    background-color: var(--tomato);
    padding: 5px;
    border-radius: 5px;
    font-family: var(--roboto-regular);
    display: inline-block;
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    text-decoration: none;
    color: white; 
}
